<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aad_team_42.travelmanticsrebranded">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/travis_logo"
        android:label="@string/app_tit"
        android:roundIcon="@mipmap/travis_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.BaseActivity"/>
        <activity android:name=".views.activities.LoginActivity"/>
        <activity android:name=".views.activities.RegisterActivity"/>
        <activity android:name=".views.activities.MainActivity"
            android:theme="@style/MainTheme"/>
        <activity android:name=".views.activities.SplashScreenActivity"
            android:theme="@style/MainTheme">

        </activity>
        <activity android:name=".activities.OnboardingActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>